.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 60%;
    max-width: 1200px;
   
}
@media(min-width: 540px){
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 960px){
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card{
    position: relative;
}
.card:before {
    content: '';
    display: block;
    height: 250px;
    width: 60%;
}
.card__background {
    background-size: cover;
    background-image: url(./img/cover.jpg);
    background-position: center;
    border-radius: 24px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
            filter 200ms linear,
            transform 200ms linear;
}
/* .container:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
} */

.card__content {
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
}

.card__category {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.card__heading {
    color: rgba(255, 255, 255, 0.9)
    font-size: 1.8rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 80vw;
}
